
@model UpdateDistributorViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Distributor Ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form form asp-controller="Distributor" asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="card-body">
            <div class="form-group">
                <label>Distributor Adı</label>
                <input asp-for="Name" class="form-control" type="text" placeholder="Distributor Name *">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" class="form-control" type="text" placeholder="Email *">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input asp-for="Phone" class="form-control" type="tel" placeholder="Phone *">
            </div>
            <div class="form-group">
                <label>Aracı Kişi</label>
                <input asp-for="ContactPerson" class="form-control" type="text" placeholder="ContactPerson *">
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Distributor" asp-action="Index" class="btn btn-danger">Çıkış</a>
        </div>
    </form>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }
</div>



@section scripts{
    <!-- bs-custom-file-input -->
    <script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}


