
@model UpdateSpecValueViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ürün Özellik Değerini Güncelle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form form asp-controller="SpecValue" asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="card-body">
            <div class="form-group">
                <label>SpecValue Name</label>
                <input asp-for="Name" class="form-control" type="text" placeholder="Ürün Özellik Değerini Giriniz *">
            </div>
            <div class="form-group">
                <label>Slug</label>
                <input asp-for="Slug" class="form-control" type="text" placeholder="Açıklama Giriniz *">
            </div>
            <div class="form-group">
                <label>SortOrder</label>
                <input asp-for="SortOrder" class="form-control" type="text" placeholder="Ürün Özellik Sırasını Giriniz *">
            </div>
            <div class="form-group">
                <label>SpecGroupId</label>
                <select asp-for="SpecGroupId" asp-items="@ViewBag.SpecGroups" class="form-control">
                    <option>Lütfen Ürün Özelliği Grubunu giriniz..</option>
                </select>
            </div>
            <div class="form-group">
                <label>SpecNameId</label>
                <select asp-for="SpecNameId" asp-items="@ViewBag.SpecNames" class="form-control">
                    <option>Lütfen Ürün Özelliği Adını giriniz..</option>
                </select>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="SpecValue" asp-action="Index" class="btn btn-danger">Çıkış</a>
        </div>
    </form>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }
</div>



@section scripts{
    <!-- bs-custom-file-input -->
    <script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}


